.container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content{
  width: 500px;
  padding: 12px;
  border: 1px solid black;
  background-color: #eee;
  /* background-color: green; */
}